header {
  margin: 1rem 0;
  position: absolute;
  width: 100%;
  z-index: 999;

  nav {
    display: flex;
    justify-content: center;
    gap: 2rem;

    a {
      font-size: 3rem;

      &:hover {
        color: red;
      }
    }
  }
}
