@import "../../styles/variables.module.scss";

header {
  margin: 1rem 0;
  position: absolute;
  width: 100%;
  z-index: 990;

  nav {
    display: flex;
    justify-content: center;

    a {
      font-size: 4vmin;
      transition: letter-spacing 0.5s cubic-bezier(0.2, 0.4, 0.4, 0.9);

      &:hover {
        color: $selected;
        letter-spacing: 0.2rem;
      }
    }
  }
}
